{%include 'header.html'%}
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
        <form method = "POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
              <label for="exampleInputEmail1">IP</label>
              <input type="text" class="form-control" id="ip" placeholder="IP Address">
              <small id="emailHelp" class="form-text text-muted">To get this local ip address type in "ipconfig" in your windows command prompt.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Port</label>
              <input type="text" class="form-control" id="port" placeholder="Port">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>

        </br>
        </br>
            <a href="{{url_for('download_server')}}">Download Server Here</a>
        </form>
    </div>

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
</body>

</html>

<style>
  body{
    font-size:12px;
  }
  .table{
    font-size:12px !important;
  }
  td{
    padding-left:50px;
  }

 
}
</style>


<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("sailorTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

